<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>nesC</string>
	<key>ordering</key>
	<array>
		<string>63ED7B3B-F14F-49C5-A1C3-0F24414F3FAD</string>
	</array>
	<key>uuid</key>
	<string>186F340D-6A32-40F3-91A1-7BAE97BC6497</string>
</dict>
</plist>
