<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>pjvyfba@pqjvyfba.hf</string>
	<key>contactName</key>
	<string>Christopher Wilson</string>
	<key>description</key>
	<string>Support for &lt;a href="http://nescc.sourceforge.net/"&gt;nesC&lt;/a&gt; programming language.</string>
	<key>name</key>
	<string>nesC</string>
	<key>uuid</key>
	<string>ACCE1584-2BD3-4054-A738-2B94856B4B50</string>
</dict>
</plist>
